# Ignore the massive legacy pickle files
data/cleaned_recipes.pkl
data/tfidf_matrix.pkl

# Local Database
users.json

# Virtual Environments
.venv/
venv/
env/

# Python Cache
__pycache__/
*.pyc

# Massive Data Files (Do not upload these to GitHub!)
*.csv
tempCodeRunnerFile.python