# Ignore the massive legacy pickle files
backend/data/cleaned_recipes.pkl
backend/data/tfidf_matrix.pkl

# Local Database
backend/users.json

# Virtual Environments
.venv/
venv/
env/

# Python Cache
__pycache__/
*.pyc

# Massive Data Files (Do not upload these to GitHub!)
*.csv
tempCodeRunnerFile.python